# Practical 8

In this exercise, you will be guided through the preprocessing workflow. Step by step, feature by feature, you will investigate the dataset and make preprocessing decisions accordingly.

We will work with the dataset `houses.csv`, already used in the previous class.

In [15]:
import pandas as pd
import numpy as np

# Loading the dataset
data = pd.read_csv('houses.csv')
# Selecting some columns of interest 'GrLivArea','BedroomAbvGr','KitchenAbvGr', 'OverallCond','RoofSurface','GarageFinish','CentralAir','ChimneyStyle','MoSold', and 'SalePrice'
# Overwriting the "data" variable to keep only the columns of interest
data = data[['GrLivArea','BedroomAbvGr','KitchenAbvGr', 'OverallCond','RoofSurface','GarageFinish','CentralAir','ChimneyStyle','MoSold', 'SalePrice']]
# Showing the first five rows
data.head()

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,GarageFinish,CentralAir,ChimneyStyle,MoSold,SalePrice
0,1710,3,1,5,1995.0,RFn,Y,bricks,2,208500
1,1262,3,1,8,874.0,RFn,Y,bricks,5,181500
2,1786,3,1,5,1593.0,RFn,Y,castiron,9,223500
3,1717,3,1,5,2566.0,Unf,Y,castiron,2,140000
4,2198,4,1,5,3130.0,RFn,Y,bricks,12,250000

üìö Take the time to do a ***preliminary investigation*** of the features by reading the ***dataset description*** available [here](https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Houses_dataset_description.txt). Make sure to refer to it throughout the day.

## (1) Duplicates

‚ÑπÔ∏è ***Duplicates in datasets cause data leakage.*** 

üëâ It is important to locate and remove duplicates.

‚ùì How many duplicated rows are there in the dataset?

<i>Save your answer under variable name `duplicate_count`.</i>

In [16]:
duplicate_count = data.duplicated().sum()
print(duplicate_count)

300

‚ùì Remove the duplicates from the dataset. Overwite the dataframe `data`‚ùì

In [17]:
data.drop_duplicates(inplace=True)

## (2) Missing data

‚ùì Print the percentage of missing values for every column of the dataframe in descending way.

In [18]:
data.isnull().mean().sort_values(ascending=False) *100

GarageFinish    5.547945
RoofSurface     0.616438
GrLivArea       0.000000
BedroomAbvGr    0.000000
KitchenAbvGr    0.000000
OverallCond     0.000000
CentralAir      0.000000
ChimneyStyle    0.000000
MoSold          0.000000
SalePrice       0.000000
dtype: float64

### `GarageFinish`

‚ùì **Questions** about `GarageFinish` ‚ùì

Investigate the missing values in `GarageFinish`. Then, choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median using `SimpleImputer` from Scikit-Learn
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe `data`.

‚ÑπÔ∏è According to the dataset description, the missing values in `GarageFinish` represent a house having no garage. They need to be encoded as such.
</details>

/var/folders/lp/2b2l845n01lb_lnd_35wp6jm0000gn/T/ipykernel_32502/4232240663.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['GarageFinish'].fillna('NoGarage', inplace=True)

### `RoofSurface`

‚ùì **Questions** about `RoofSurface` ‚ùì

Investigate the missing values in `RoofSurface`. Then, choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median using sklearn's `SimpleImputer`
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe `data`.

‚ÑπÔ∏è `RoofSurface` has a few missing values that can be imputed by the median value.
</details>

### `ChimneyStyle`

‚ùì **Questions** about `ChimneyStyle` ‚ùì

Investigate the missing values in `ChimneyStyle`. Then, choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe `data`.

* ‚ö†Ô∏è Be careful: not all missing values are represented as `np.nans`, and Python's `isnull()` only detects `np.nans`...
    
* ‚ÑπÔ∏è `ChimneyStyle` has a lot of missing values. The description does not touch on what they represent. As such, it is better not to make any assumptions and to drop the column entirely.
    

</details>

In [2]:
 # Get unique values and their count

In [35]:
 # Replace "?" by np.nan

In [4]:
# NaN percentage for Chimney Style

In [3]:
# Drop ChimneyStyle column

‚ùì When you are done with handling missing value, print out the percentage of missing values for the entire dataframe ‚ùì

You should no longer have missing values !

In [5]:
#NaN percentage for each column

## (3) Scaling

**But first...**

To understand the effects of scaling and encoding on model performance, let's get a **base score without any data transformation**.

‚ùì Cross-validate a linear regression model that predicts `SalePrice` using the other features

‚ö†Ô∏è Note that a linear regression model can only handle numeric features. [DataFrame.select_dtypes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html) can help.

Keep this score in mind! You will train a new model after data preprocessing in Challenge #2 - see if it improves your average score üòâ

üöÄ Now, back to **feature scaling**!

###  `RoofSurface`

‚ùì **Question** about `RoofSurface` ‚ùì

üëá Investigate `RoofSurface` for distribution and outliers. Then, choose the most appropriate scaling technique. Either:

1. Standard Scaler
2. Robust Scaler
3. MinMax Scaler

Replace the original columns with the transformed values.

 
‚ÑπÔ∏è Since `RoofSurface` does not seem to have a normal distribution, it is better to MinMax scale.
</details>

### `GrLivArea`

‚ùì **Question** about `GrLivArea` ‚ùì

üëá Investigate `GrLivArea` for distribution and outliers. Then, choose the most appropriate scaling technique. Either:

1. Standard Scale
2. Robust Scale
3. MinMax Scale

Replace the original columns with the transformed values.

   ‚ÑπÔ∏è `GrLivArea` has a normal distribution, and some outliers. It needs to be Robust scaled.
</details>

### `BedroomAbvGr` ,  `OverallCond` & `KitchenAbvGr`

‚ùì **Questions** about `BedroomAbvGr`, `OverallCond` & `KitchenAbvGr` ‚ùì

üëá Investigate `BedroomAbvGr`, `OverallCond` & `KitchenAbvGr`. Then, chose one of the following scaling techniques:

1. MinMax Scaler
2. Standard Scaler
3. Robust Scaler

Replace the original columns with the transformed values.

‚ÑπÔ∏è `BedroomAbvGr` ,  `OverallCond` & `KitchenAbvGr` are ordinal features that should be MinMax scaled.
</details>

## (4) Feature Encoding

### `GarageFinish`

‚ùì **Question** about `GarageFinish`‚ùì

üëá Investigate `GarageFinish` and choose one of the following encoding techniques accordingly:
- Ordinal encoding
- One-Hot encoding

Add the encoding to the dataframe as new colum(s), and remove the original column.

‚ÑπÔ∏è `GarageFinish` is a multicategorical feature that must be One hot encoded.
</details>

In [43]:
# Check unique categories in GarageFinish

array(['RFn', 'Unf', 'Fin', 'NoGarage'], dtype=object)

In [6]:
# Instanciate One hot encoder

# Fit one hot encoder

# View categories of GarageFinish

In [7]:
# Put encoded columns back in dataframe

# Drop original column

### Encoding  `CentralAir`

‚ùì **Question** about `CentralAir`‚ùì

Investigate `CentralAir` and choose one of the following encoding techniques accordingly:
- Ordinal encoding
- One-Hot encoding

Replace the original column with the newly generated encoded columns.

‚ÑπÔ∏è `CentralAir` is a binary categorical feature.
</details>

In [8]:
# Check unique values of CentralAir

In [9]:
# Instanciate encoder

# Fit encoder and tranform

## (5) Feature Engineering

### `MoSold` - Cyclical engineering

üë®üèª‚Äçüè´ A feature can be numerical (continuous or discrete), categorical or ordinal. But a feature can also be temporal (e.g. quarters, months, days, minutes, ...). 

Cyclical features like time need some specific preprocessing. Indeed, if you want any Machine Learning algorithm to capture this cyclicity, your cyclical features must be preprocessed in a certain way.

üëâ Consider the feature `MoSold`, the month on which the house was sold.

In [11]:
data["MoSold"].value_counts()

6     307
7     286
5     249
4     172
8     142
3     123
10    107
11     97
9      76
12     72
1      72
2      57
Name: MoSold, dtype: int64

* Many houses were sold in June (6), July (7) and May (5) (Spring/Summer)
* Only a few houses were sold in December (12), January (1) and February (2) (~ Fall/Winter)
    * But for any Machine Learning model, there is no reason why December (12) and January (1) would be "close"...

üë©üèª‚Äçüè´ ***How to deal with cyclical faetures?***

1.  Look at the following illustration and read the explanations to distinguish two different months.

<img src="https://wagon-public-datasets.s3.amazonaws.com/data-science-images/05-ML/cyclical_features.png" alt="Cyclical features" width="1000" height="800">


2. Read this [article](https://ianlondon.github.io/blog/encoding-cyclical-features-24hour-time/) for more details.

‚ùì **Question** about `MoSold` ‚ùì 
- Create two new features `sin_MoSold` and `cos_MoSold` which correspond respectively to the sine and cosine of MoSold.
- Drop the original column `MoSold`


‚ÑπÔ∏è The perimeter of a circle if $C = 2 \pi r = 2 \pi$ and assuming that $ r = 1$
</details>

In [49]:
months_in_a_year = 12

data['sin_MoSold'] = np.sin(2*np.pi*(data.MoSold-1)/months_in_a_year)
data['cos_MoSold'] = np.cos(2*np.pi*(data.MoSold-1)/months_in_a_year)
data.drop(columns=['MoSold'], inplace=True)

data.head()

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,CentralAir,SalePrice,Fin,NoGarage,RFn,Unf,sin_MoSold,cos_MoSold
0,0.380070,0.375,0.333333,0.500,0.316729,1.0,208500,0.0,0.0,1.0,0.0,0.500000,0.866025
1,-0.312090,0.375,0.333333,0.875,0.069650,1.0,181500,0.0,0.0,1.0,0.0,0.866025,-0.500000
2,0.497489,0.375,0.333333,0.500,0.228124,1.0,223500,0.0,0.0,1.0,0.0,-0.866025,-0.500000
3,0.390885,0.375,0.333333,0.500,0.442583,1.0,140000,0.0,0.0,0.0,1.0,0.500000,0.866025
4,1.134029,0.500,0.333333,0.500,0.566894,1.0,250000,0.0,0.0,1.0,0.0,-0.500000,0.866025

<u>Remarks</u>:
- The -1 is not mandatory because sine and cosine functions have a $ 2 \pi$ periodicity
- However, it is more correct  speaking in terms of trigonometry properties to include it because $cos(0) = 1$ and $sin(0) = 0$

## (6) Export the preprocessed dataset

üëá Now that the dataset has been preprocessed, execute the code below to export it. You will keep working on it in the next exercise.